body{
    background-color: rgb(251, 255, 0)
}
img {
    height: 250px;
    width: 250px;
    margin: 0 auto;
}

.tarjeta{


border-radius: 5px;
width: 500px;
height: 505px;
margin: 0 auto;
background-color: rgb(241, 11, 11);
align-items: center;
text-align: center;
margin-top:61PX;
box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;


}